*{
	margin: 0;
	padding: 0;
}

.navbar{
	max-height: 20px;
	min-height: 15px;

}

.navbar-brand, .nav{

	padding: 0px;
	font-size: 12px;
}

body {
  min-height: 2000px;
  padding-top: 70px;
}

